@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-900 text-white;
}

main {
  /* @apply bg-balloons bg-contain bg-fixed bg-center pt-8 text-white; */
  @apply bg-gray-900;
}

.bg-parallax {
  background-image: linear-gradient(
      rgba(134, 126, 137, 0.4),
      rgba(138, 109, 154, 0.4)
    ),
    url("../../public/bball.png");
}

.bg-balloons {
  background-image: linear-gradient(
      rgba(81, 80, 81, 0.25),
      rgba(102, 102, 103, 0.25)
    ),
    url("../../public/balloons.png");
}

/* TESTING */

#text p {
  color: white;
  font-size: 8vw;
  margin: 0rem;
}
.line {
  display: flex;
  justify-content: space-between;
}

.alt:hover {
  text-shadow: 5px 5px #558abb;
}

#text:has(.fancy:hover) .word:not(.fancy, .alt) {
  transition-duration: 800ms;
  transform: translate(80%, 20%) rotate(0deg);
  background: linear-gradient(to right, #30cfd0 0%, #b57dfa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#text:has(.word) .word:not(.alt, .fancy) {
  transition: transform 500ms ease;
}

/* #text:has(.alt:hover) {
  transform: translate(-30%, 0%) rotate(0deg);
  transition-duration: 500ms;
} */
/* #text:has(.word.alt:hover) .word:not(.alt, .fancy) {
  transform: translate(0%, 40%) rotate(0deg);
  transition-duration: 800ms;
} */

.fancy > .letter {
  text-transform: uppercase;
  display: inline-block;
  transition: transform 350ms ease;
}
.fancy:hover > .letter {
  transition-duration: 800ms;
  text-transform: uppercase;
  text-shadow: #fc0 1px 0 10px;
  color: white;
  /* background: linear-gradient(to right, #30cfd0 0%, #b57dfa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.fancy:hover > .letter:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}
.fancy:hover > .letter:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}
.fancy:hover > .letter:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}
.fancy:hover > .letter:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}
.fancy:hover > .letter:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}
.fancy:hover > .letter:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}
.fancy:hover > .letter:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}
.fancy:hover > .letter:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
}
.fancy:hover > .letter:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
}
.fancy:hover > .letter:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
}
.fancy:hover > .letter:nth-child(11) {
  transform: translate(50%, -10%) rotate(-3deg);
}
.fancy:hover > .letter:nth-child(12) {
  transform: translate(40%, -30%) rotate(4deg);
}
