@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-neutral-900 text-white;
  @apply font-poppins;
}

main {
  /* @apply bg-balloons bg-contain bg-fixed bg-center pt-8 text-white; */
  @apply container mx-auto bg-black;
}

.bg-parallax {
  background-image: linear-gradient(
      rgba(134, 126, 137, 0.4),
      rgba(138, 109, 154, 0.4)
    ),
    url("../../public/bball.png");
}

.bg-balloons {
  background-image: linear-gradient(
      rgba(81, 80, 81, 0.25),
      rgba(102, 102, 103, 0.25)
    ),
    url("../../public/balloons.png");
}

/* TESTING */

p {
  color: white;
  font-size: 8vw;
  margin: 0rem;
  text-transform: uppercase;
}

.line {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

#text:has(.fancy:hover) .word:not(.fancy) {
  opacity: 0.2;
}

.fancy > .letter {
  display: inline-block;
  transition: transform 350ms ease;
}
.fancy:hover > .letter {
  transition-duration: 800ms;
}

.fancy:hover > .letter:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}
.fancy:hover > .letter:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}
.fancy:hover > .letter:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}
.fancy:hover > .letter:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}
.fancy:hover > .letter:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}
.fancy:hover > .letter:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}
.fancy:hover > .letter:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}
.fancy:hover > .letter:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
}
.fancy:hover > .letter:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
}
.fancy:hover > .letter:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
}
.fancy:hover > .letter:nth-child(11) {
  transform: translate(50%, -10%) rotate(-3deg);
}
.fancy:hover > .letter:nth-child(12) {
  transform: translate(40%, -30%) rotate(4deg);
}
